@media (min-width: 375px) {
    .site-header {
        flex-direction: column;
    }

    nav ul {
        margin: 2em 0 2em 0;
    }

    .try-btn {
        margin-top: 1em;
        align-items: center;
    }

    .header-section {
        margin: auto;
        padding: 2em;
    }

    .header-section article {
        margin-left: 4em;
    }

    .header-section p {
        width: 85%;
    }

    .header-section img {
        margin-top: -2em;
        min-width: 70%;
        min-height: 70%;
    }

    .companies ul li {
        margin-bottom: 1em;
        align-items: center;
    }

    .phone-img {
        width: 90%;
        height: 90%;
        margin-left: 5em;
        margin-top: 1em;
    }

    .apps-section {
        width: 55%;
        padding: 1em;
    }

    .apps-section article p {
        min-width: 200px;
    }

    .apps-section article img {
        width: 20%;
        height: 20%;
    }

    .design article h2 {
        text-align: center;
        margin: auto;
    }

    .design article p {
        width: 75%;
        margin: 2em auto;
    }

    .design input[type=submit] {
        margin-left: 5.5em;
        margin-bottom: 1.5em;
    }

    .choose-app h1 {
        min-width: 70%;
    }
    .choose-app p{
        min-width: 65%;
    }
    .features header h2 {
        min-width: 90%;
        text-align: center;
        margin-left: -1em;
    }
    .features header p{
        min-width: 90%;
    }
    input[type="submit"]{
        margin-bottom: 2em;
    }
    .phones{
        min-width: 70%;
        min-height: 70%;
        margin-top: 2em;
    }
    .billing-section header h2{
        min-width: 93%;
    }
    .billing-section header p{
        min-width: 93%;
    }
    .payment{
        min-width: 49%;
    }
    .left-side,.right-side{
        min-width: 78%;
        margin-top: 1em;
    }
    .customer-section img {
        width: 90%;
    }
    .customer-section article h1{
        margin: 1em auto;
    }
    .customer-section article p{
        width: 85%;
        margin: 1em auto;
    }
    ul.stars{
        justify-content: center;
    }
    .customer-section h3 {
        margin-left: 2em;
    }
    ul.ceo {
        margin: auto;
    }
    ul.arrow-btn{
        margin-top: 2em;
        margin-right: 1em;
    }
    .questions header p{
        min-width: 75%;
        margin: 2em auto !important;
    }
}