*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.5 "Poppins", sans-serif;
}

.site-header {
    display: flex;
    flex-direction: column;
    background: url("../img/bg-header.jpg") no-repeat;
    background-size: cover;
}

.site-header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header nav ul li {
    list-style: none;
    margin-bottom: 0.5em;
}

.site-header nav li a {
    text-decoration: none;
    color: #000;
}

.site-header nav li a:hover {
    color: #c0c0c0;
    cursor: pointer;
}

.site-header img {
    width: 60%;
    height: 60%;
    margin-left: 4em;

}

input[type=submit]:hover {
    background: #add8e6;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.375em;
    padding: 1em;
}

.f-letters {
    color: #fcae61;
}

.s-letters {
    color: #000000;
}

.try-btn {
    background: #2500f9;
    border-radius: 20px;
    padding: 0.75em;
    color: #fff;
    border: none;
}

.header-section article span {
    background: #e2eaed;
    border-radius: 20px;
    padding: 0.1em;
    position: relative;
    display: block;
    text-align: center;
    color: #242f51;
    width: 75%;
    margin: auto;
}

.header-section article span:before {
    content: url("../img/span-img.png");
    position: absolute;
    top: -0.1em;
    left: -0.2em;
    background: #fcae61;
    padding: 0.3em;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}

.header-section article {
    margin: auto;
    width: 75%;
}

.header-section article input {
    margin-left: 2em;
}

header article a {
    margin-left: 1em;
    text-decoration: none;
}

.companies h4 {
    text-align: center;
    font-weight: 300;
}

.companies ul {
    text-align: center;
}

.companies ul li {
    list-style: none;
    margin-bottom: 1em;
}

.apps-section {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: auto;
}

.apps-section img.phone-img {
    width: 70%;
    height: 70%;
    margin: auto;
}

.smart-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.performance {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 1em auto;
}

.design {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.design-img {
    width: 75%;
    height: 75%;
    margin-left: 4em;
}

.learn-btn {
    background: #2500f9;
    color: #fff;
    padding: 0.75em;
    width: 40%;
    border: none;
    border-radius: 20px;
    font-weight: 600;
}

.choose-app {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.testimonials {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.billing-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.features {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.features-main {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.see-all {
    border: none;
    background: #2500f9;
    color: #fff;
    padding: 0.75em;
    border-radius: 20px;
}

.phones {
    width: 75%;
    height: 75%;
    margin: 3em auto;
}

.payment {
    border: 1px solid #eee;
    width: 50%;
    text-align: center;
    padding: 0.5em;
    margin: auto;
    border-radius: 20px;
    position: relative;
}

.payment a {
    text-decoration: none;
}

.monthly {
    background: #2500f9;
    color: #fff;
    padding: 0.6em;
    border-radius: 20px;
    position: absolute;
    left: -0.1em;
    bottom: -0.1em;
}

.annual {
    margin-left: 40%;
}

.left-side, .right-side {
    border: 1px solid #eee;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    margin-left: 0.5em;
    margin-top: 2em;
    padding: 2em;
}

.left-side span, .right-side span {
    font-weight: normal;
    font-size: 0.6em;
    color: #616368;
}

.payment-billing li {
    list-style: none;
    margin-bottom: 2em;
    margin-right: 2em;
    color: #616368;
}

.trial-btn {
    background: #2500f9;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 0.5em;
}

.customer-section img {
    width: 75%;
    height: 75%;
    margin-top: 2em;
    margin-left: 4em;
    margin-bottom: 1em;
}

.customer-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.stars {
    display: flex;
}

.stars li {
    list-style: none;
    margin-left: 0.5em;
}

.fa.fa-star {
    color: #ffcc00;
}

.ceo-section {
    display: flex;
}

.ceo img {
    width: 55%;
    height: 55%;
}

.ceo li {
    list-style: none;
    text-align: center;
}

.arrow-btn {
    display: flex;
    margin-top: 50%;
}

.fa.fa-arrow-circle-left, .fa-arrow-circle-right {
    font-size: 1.875em;
    color: #c0c0c0;
}

.arrow-btn li {
    list-style: none;
    margin-left: 1em;
}

.questions {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.questions article li {
    margin-bottom: 2em;
    background: #f5f7fa;
    padding: 1em;
    width: 100%;
    list-style: none;
}

.questions article li:after {
    content: url("../img/plus.png");
    float: right;
    margin-top: auto;
}

.download-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.download-stores {
    display: flex;
    justify-content: center;
}

.download-stores img {
    width: 90%;
    height: 90%;
}

.download-stores li {
    list-style: none;
}

.download-bg {
    width: 90%;
}

.site-footer {
    background: #09142e;
    padding: 2em;
}

.site-footer header {
    text-align: center;
}

.site-footer span.s-letters {
    color: #fff;
}

.site-footer nav ul {
    display: flex;
    justify-content: center;
}

.site-footer nav li {
    list-style: none;
    margin-left: 1em;
}

.site-footer nav li a {
    text-decoration: none;
    color: #fff;
}

.site-footer nav li a:hover {
    color: #616368;
}

.social {
    display: flex;
    justify-content: center;
}

.social li {
    list-style: none;
    margin-left: 1em;
    margin-top: 1em;
}

.social li a {
    color: #273043;
    font-size: 1.375em;
}

.social li a:hover {
    color: #fff;
}

.site-footer p {
    text-align: center;
    color: #273043;
}

@media (min-width: 768px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2em;
    }
    .site-header nav ul {
        display: flex;
        flex-direction: column;
    }
    section.header-section article span{
        width: 45%;
        margin: 0 auto;
    }
    .site-header img{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .header-section article h1{
        font-weight: 600;
        color: #242f51;
        width: 75%;
        margin: 1em auto;
    }
    .header-section article p{
        width: 70%;
        margin: 0 auto;
    }
    section.header-section article input{
        margin-top: 1.5em;
        margin-left: 5em;
    }
    section.header-section article a {
        margin-left: 1em;
    }
    .header-section article a{
        margin-left: 1em;
    }
    .features-articles{
        display: flex;
        flex-direction: column;
    }
    .payment{
        width: 30%;
    }
    .left-side, .right-side {
        padding: 0;
    }

    .left-side header, .right-side header {
        background: linear-gradient(#ffff, #f5f8fa);
        padding-bottom: 1em;
    }

    .left-side h1, .right-side h1 {
        margin: 0;
        font-weight: 600;
    }
    .right-side a {
        margin-bottom: 1em;
    }
    .trial-btn{
        margin-bottom: 1em;
    }
    .left-side h3, .right-side h3{
        font-weight: 500;
    }
    .customer-section img{
        margin: 2em auto;
    }
    ul.arrow-btn{
        margin-top: 38%;
    }
    .questions-article h2 {
        margin-left: 2em;
        color: #242f51;
    }

    .questions-article p {
        width: 90%;
        color: #abadb1;
    }

    .questions-header {
        width: 95%;
        margin-left: 5%;
        background: #f5f7fa;
        padding: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    section.questions header h1{
        margin-left: 1.5em;
    }
    .download-section h1{
        font-weight: 600;
        color:#242f51;
    }
    .download-section p{
        color: #abadb1;
    }
}

@media (min-width: 380px) {
    section.header-section article span {
        width: 103%;
    }

    .payment {
        width: 60%;
    }

    .trial {
        display: block;
        margin-top: 1em;
    }

    .site-footer nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 2.5em;
    }

    .site-footer nav li {
        margin-bottom: 1em;
    }

    .questions-section ul {
        width: 96%;
    }
}

@media (min-width: 320px) {
    .site-footer nav ul {
        display: block;
        text-align: center;
        margin-left: -2em;
    }

    .site-footer nav li {
        margin-top: 1em;
    }

    .trial {
        display: block;
        margin-top: 1em;
    }

    .header-section article span {
        width: 125%;
        margin-left: -1.75em;
    }

    .header-section article input {
        margin-left: -1em;
    }

    .header-section article a {
        margin-left: 0;
    }

    .learn-btn {
        width: 50%;
    }

    .payment {
        width: 80%;
    }

    .customer-section img {
        width: 92%;
        height: 92%;
        margin-left: -1em;
    }

    .arrow-btn {
        margin-top: 80%;
    }

    .questions {
        margin-left: -1em;
        width: 95%;
    }

    .questions article li:after {
        margin-top: 0.75em;
    }

    .questions header h1 {
        margin-left: 1em;
    }

    .questions p {
        margin-left: 3em;
    }

    .questions-article h2 {
        margin-left: 1.5em;
    }

    .download-stores img {
        margin-left: -1.5em;
    }

    .design-img {
        margin-left: -0.5em;
    }

    .companies {
        margin-left: -2em;
    }
}

@media (min-width: 1280px) {

    .header-section {
        display: flex;
    }

    .header-section img {
        width: 40%;
        height: 40%;
    }

    .header-section article {
        width: 40%;
    }

    section.header-section article span {
        width: 65%;
        margin-left: 0.5em;
    }

    .header-section article input {
        margin-left: 0.75em;
    }

    .header-section article a {
        margin-left: 1em;
    }

    .companies {
        margin-top: 3em;
    }

    .companies ul {
        display: flex;
        margin-top: 3em;
        margin-left: 2em;
        justify-content: center;
    }

    .companies ul li {
        margin-left: 1.5em;
    }

    .apps-section {
        display: flex;
        flex-direction: row;
        margin-top: 2em;
    }

    .apps-section img.phone-img {
        width: 55%;
        height: 55%;
        margin: -1em;
        padding-right: 2em;
    }

    .apps-articles {
        display: flex;
        flex-direction: column;
    }

    .apps-articles h1 {
        width: 60%;
    }

    .smart-section article {
        display: flex;
    }

    .smart-section article p {
        margin-top: 2em;
        border-left: 1px solid #eeeeee;
        padding-left: 2em;
    }

    .performance {
        display: flex;
        flex-direction: row;
        margin-top: 2.5em;
    }

    .performance article {
        margin-left: 2em;
    }

    .design {
        display: flex;
        flex-direction: row;
        margin-top: 2.5em;
    }

    .design article {
        margin-left: 2.5em;
    }

    .design-img {
        width: 50%;
        height: 50%;
        margin-right: 2em;
    }

    .choose-app {
        margin: 0 auto;
        width: 45%;
        text-align: center;
    }

    .choose-app h1 {
        width: 70%;
        margin: 1em auto;
    }

    .testimonials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
    }

    .testimonials article {
        width: 30%;
        margin-bottom: 1em;
    }

    .features header {
        margin-left: 3em;
    }

    .features header h2 {
        width: 30%;
    }

    .features header p {
        width: 45%;
    }

    .features header {
        margin-bottom: 1em;
    }

    .features-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 1em;
        width: 85%;
    }

    .features-main article {
        width: 40%;
        margin-left: 2em;
    }

    .see-all {
        width: 15%;
        height: 15%;
        margin-left: 2em;
    }

    .phones {
        width: 40%;
        height: 40%;

    }

    .features-articles {
        display: flex;
    }

    .payment-billing {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 85%;
    }

    .billing-section h1 {
        font-weight: 600;
        color: #242f51;
    }

    .billing-section span {

    }

    .billing-section h2 {
        width: 45%;
        text-align: center;
        margin: 2em auto;
    }

    .billing-section h3 {
        color: #242f51;
        font-weight: 600;
    }

    .billing-section p {
        width: 70%;
        text-align: center;
        margin: 2em auto;
        color: #b0b1b3;
    }

    .payment {
        width: 20%;
    }

    .trial {
        display: inline-block;
    }

    .left-side, .right-side {
        padding: 0;
    }

    .left-side header, .right-side header {
        background: linear-gradient(#ffff, #f5f8fa);
        padding-bottom: 0.5em;
    }

    .left-side h1, .right-side h1 {
        margin: 0;
    }

    .subscribe {
        margin-bottom: 1em;
    }

    .trial-btn {
        margin-top: 1em;
    }

    .customer-section {
        display: flex;
        flex-direction: row;
        margin-top: 3em;
    }

    .customer-section img {
        width: 60%;
        height: 60%;
        margin-left: -2em;
    }

    .customer-section article {
        margin-left: 1em;
    }

    .customer-section h1 {
        font-weight: 600;
        color: #242f51;
        width: 100%;
    }

    .customer-section article p {
        color: #616368;
    }

    .arrow-btn {
        margin-top: 40%;
        font-size: 13px;
        background: #fff;
    }

    .questions header h1 {
        text-align: center;
        margin: 2em 0 1em 0;
        font-weight: 500;
        color: #242f51;
    }

    .questions header p {
        width: 60%;
        text-align: center;
        margin: 0 auto;
        color: #616368;
    }

    .questions ul {
        width: 70%;
        margin: 0 auto;
    }

    .questions-article h2 {
        margin-left: 2em;
        color: #242f51;
    }

    .questions-article p {
        width: 90%;
        color: #abadb1;
    }

    .questions-header {
        width: 67%;
        margin-left: 18%;
        background: #f5f7fa;
        padding: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .questions ul li {
        color: #242f51;
    }
    .download-section{
        position: relative;
    }
    .download-section h1 {
        font-weight: 500;
        color: #242f51;
    }

    .download-section p {
        width: 70%;
        color: #abadb1;
    }

    .download-stores {
        display: flex;
        justify-content: flex-start;
    }

    .download-bg {
        width: 60%;
        position: absolute;
        bottom: -2em;
        left: 57%;
    }
    .site-footer nav ul{
        display: flex;
        flex-direction: row;
    }
}
@media(width: 375px)  {
    .features-articles {
        display: flex;
        flex-direction: column;
    }
    .left-side, .right-side {
        padding: 0;
    }

    .left-side header, .right-side header {
        background: linear-gradient(#ffff, #f5f8fa);
        padding-bottom: 0.5em;
    }
    .customer-section img {
        width: 100%;
        height: 100%;
        margin: 2em auto;
    }
    .questions-header {
        background: #f5f7fa;
        padding: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
        margin-left: 2em;
    }
    .questions-article h2 {
        margin-left: 1em;
        color: #242f51;
    }

    .questions-article p {
        width: 80%;
        color: #abadb1;
        margin-left: 2em;
    }
}
@media(width: 1024px) {
    .header-section {
        display: flex;
    }

    .header-section img {
        width: 40%;
        height: 40%;
    }

    .header-section article {
        width: 40%;
    }

    section.header-section article span {
        width: 75%;
        margin-left: 0.5em;
    }

    .header-section article input {
        margin-left: 0.75em;
    }

    .header-section article a {
        margin-left: 1em;
    }

    .companies {
        margin-top: 3em;
    }

    .companies ul {
        display: flex;
        margin-top: 3em;
        margin-left: 2em;
        justify-content: center;
    }

    .companies ul li {
        margin-left: 1.5em;
    }

    .apps-section {
        display: flex;
        flex-direction: row;
        margin-top: 2em;
    }

    .apps-section img.phone-img {
        width: 55%;
        height: 55%;
        margin: -1em;
        padding-right: 2em;
    }

    .apps-articles {
        display: flex;
        flex-direction: column;
    }

    .apps-articles h1 {
        width: 60%;
    }
    .smart-section {
        width: 85%;
    }
    .smart-section article {
        display: flex;
        margin: 3em auto;
    }

    .smart-section article p {
        margin-top: 2em;
        border-left: 1px solid #eeeeee;
        padding-left: 2em;
    }

    .performance {
        display: flex;
        flex-direction: row;
        margin-top: 2.5em;
        width: 92%;
    }

    .performance article {
        margin-left: 2em;
    }

    .design {
        display: flex;
        flex-direction: row;
        margin-top: 2.5em;
    }

    .design article {
        margin-left: 2.5em;
    }

    .design-img {
        width: 50%;
        height: 50%;
        margin-right: 2em;
    }

    .choose-app {
        margin: 0 auto;
        width: 45%;
        text-align: center;
    }

    .choose-app h1 {
        width: 70%;
        margin: 1em auto;
    }

    .testimonials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
    }

    .testimonials article {
        width: 40%;
        margin-bottom: 1em;
        margin-left: 1em;
    }
    .features{
        width: 100%;
    }
    .features header {
        margin-left: 3em;
    }

    .features header h2 {
        width: 35%;
    }

    .features header p {
        width: 45%;
    }

    .features header {
        margin-bottom: 1em;
    }

    .features-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 1em;
        width: 85%;
    }

    .features-main article {
        width: 42%;
        margin-left: 1em;
    }

    .see-all {
        width: 20%;
        height: 20%;
        margin-left: 2em;
    }

    .phones {
        width: 40%;
        height: 40%;

    }

    .features-articles {
        display: flex;
    }

    .payment-billing {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 85%;
    }

    .billing-section h1 {
        font-weight: 600;
        color: #242f51;
    }

    .billing-section span {

    }

    .billing-section h2 {
        width: 45%;
        text-align: center;
        margin: 2em auto;
    }

    .billing-section h3 {
        color: #242f51;
        font-weight: 600;
    }

    .billing-section p {
        width: 70%;
        text-align: center;
        margin: 2em auto;
        color: #b0b1b3;
    }

    .payment {
        width: 25%;
    }

    .trial {
        display: inline-block;
    }

    .left-side, .right-side {
        padding: 0;
    }

    .left-side header, .right-side header {
        background: linear-gradient(#ffff, #f5f8fa);
        padding-bottom: 0.5em;
    }

    .left-side h1, .right-side h1 {
        margin: 0;
    }

    .subscribe {
        margin-bottom: 1em;
    }

    .trial-btn {
        margin-top: 1em;
    }

    .customer-section {
        display: flex;
        flex-direction: row;
        margin-top: 3em;
    }

    .customer-section img {
        width: 60%;
        height: 60%;
        margin-left: -2em;
    }

    .customer-section article {
        margin-left: 1em;
    }

    .customer-section h1 {
        font-weight: 600;
        color: #242f51;
        width: 100%;
    }

    .customer-section article p {
        color: #616368;
    }

    .arrow-btn {
        margin-top: 50%;
        font-size: 13px;
        background: #fff;
    }

    .questions header h1 {
        text-align: center;
        margin: 2em 0 1em 0;
        font-weight: 500;
        color: #242f51;
    }

    .questions header p {
        width: 60%;
        text-align: center;
        margin: 0 auto;
        color: #616368;
    }

    .questions ul {
        width: 70%;
        margin: 0 auto;
    }

    .questions-article h2 {
        margin-left: 2em;
        color: #242f51;
    }

    .questions-article p {
        width: 90%;
        color: #abadb1;
    }

    .questions-header {
        width: 67%;
        margin-left: 18%;
        background: #f5f7fa;
        padding: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .questions ul li {
        color: #242f51;
    }
    .download-section{
        position: relative;
    }
    .download-section h1 {
        font-weight: 500;
        color: #242f51;
    }

    .download-section p {
        width: 70%;
        color: #abadb1;
    }

    .download-stores {
        display: flex;
        justify-content: flex-start;
    }

    .download-bg {
        width: 60%;
        position: absolute;
        bottom: -2em;
        left: 57%;
    }
    .site-footer nav ul{
        display: flex;
        flex-direction: row;
    }
}
@media(width: 834px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2em;
    }
    .site-header nav ul {
        display: flex;
        flex-direction: column;
    }
    section.header-section article span{
        width: 50%;
        margin: 0 auto;
    }
    .site-header img{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .header-section article h1{
        font-weight: 600;
        color: #242f51;
        width: 75%;
        margin: 1em auto;
    }
    .header-section article p{
        width: 70%;
        margin: 0 auto;
    }
    .header-section article input{
       margin-left: 5em;
        margin-top: 1.5em;
    }
    .header-section article a{
        margin-left: 1em;
    }
    .features-articles{
        display: flex;
        flex-direction: column;
    }
    .payment{
        width: 30%;
    }
    .left-side, .right-side {
        padding: 0;
    }

    .left-side header, .right-side header {
        background: linear-gradient(#ffff, #f5f8fa);
        padding-bottom: 1em;
    }

    .left-side h1, .right-side h1 {
        margin: 0;
        font-weight: 600;
    }
    .right-side a {
        margin-bottom: 1em;
    }
    .trial-btn{
        margin-bottom: 1em;
    }
    .left-side h3, .right-side h3{
        font-weight: 500;
    }
    .customer-section img{
        margin: 2em auto;
    }
    .arrow-btn{
        margin-top: 35%;
    }
    .questions-article h2 {
        margin-left: 2em;
        color: #242f51;
    }

    .questions-article p {
        width: 90%;
        color: #abadb1;
    }

    .questions-header {
        width: 95%;
        margin-left: 5%;
        background: #f5f7fa;
        padding: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .questions header h1{
        margin-left: 1.5em;
    }
    .download-section h1{
        font-weight: 600;
        color:#242f51;
    }
    .download-section p{
        color: #abadb1;
    }
}
